.btn {
  background: none;
  font-size: 13px;
  border: 1px solid var(--cor-texto);
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--cor-destaque);
  color: var(--cor-secundaria);
  border: 1px solid var(--cor-secundaria);
}

.btn:hover {
  background-color: var(--cor-destaque);
  border: none;
}
