.cartao {
  background-color: var(--cor-secundaria);
  padding: 18px;
  border-radius: var(--raio);
}

.cartao__titulo {
  font-size: 18px;
  margin: 8px 0;
}

.cartao__resumo {
  font-size: 15px;
  color: var(--cor-texto);
  margin-top: 10px;
}

.cartao--destaque {
  padding: 28px;
}
.cartao--destaque .cartao__titulo {
  font-size: 30px;
}
.cartao--destaque .cartao__resumo {
  font-size: 17px;
}
