/* Trilha de navegação */
.trilha {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 0;
  font-size: 13px;
  color: var(--cor-texto);
}

.trilha a {
  text-decoration: none;
}

.trilha a:hover {
  color: var(--cor-destaque);
}

.trilha .atual {
  color: var(--cor-titulos);
}

/* Noticia principal */

.materia h1 {
  font-size: 36px;
  line-height: 1.2;
  margin: 14px 0;
}

.linha-fina {
  font-size: 20px;
  color: var(--cor-texto);
  font-style: italic;
}

.autor {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
  padding: 16px 0;
  border-top: 2px solid var(--cor-texto);
  border-bottom: 2px solid var(--cor-texto);
}

.avatar {
  background-color: var(--cor-detalhes);
  color: var(--cor-secundaria);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autor .data {
  display: block;
  font-size: 13px;
  color: var(--cor-texto);
  line-height: 2;
}

.compartilhar {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.img-destaque {
  margin: 24px 0;
}

.img-destaque img {
  width: 100%;
  border-radius: var(--raio);
  display: block;
}

.img-destaque figcaption {
  font-size: 13px;
  color: var(--cor-texto);
  margin-top: 8px;
}

.texto {
  max-width: 1400px; /*tem o ch que é usado p p dizer o n máximo de caracteres por linha*/
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

.texto p {
  margin-bottom: 20px;
}

.texto h2 {
  font-size: 26px;
  margin: 32px 0 12px;
}

.texto blockquote {
  border-left: 4px solid var(--cor-destaque);
  border-radius: 0;
  padding-left: 20px;
  margin: 28px 0;
  font-size: 20px;
  font-style: italic;
}

.relacionados {
  border-top: 3px solid var(--cor-destaque);
  padding: 32px;
}

.relacionados h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
